/* Navigation bar */

nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
}

.navbar-brand {
  font-size:1.2rem;
  letter-spacing: -1px;
  scale: 105%;
  font-weight: bold;
  margin: 0 10px 0 0;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}

#nav-items{
  font-weight: bold;
}
#nav-items a{
  font-size: 0.8rem;
}
#nav-items a:hover{
  font-weight: bold;
}
#nav-items a.active, 
#nav-items a.active:hover{
  font-size:0.9rem;
  margin-left: 5px;
  padding:0 3px;
  background-color: orange;
  font-weight: bold;
  border-radius: 5px;
  cursor: default;
  text-decoration: none;
}
nav > *{
  margin: 20px 0;
}
