/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
}

.fa-solid:hover, 
.fa-regular:hover{
    cursor: pointer;
    scale:120%;
}
.fa-solid, .fa-regular{
  color:gray
}

.fa-trash-can:hover{
  color: red;
}
/* 
.fa-regular, .fa-solid:hover:active{
  color: orange;
}

.fa-solid, .fa-regular:hover:active, .fa-trash-can{
  color: red;
} */